*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: #fbffa9;
    color: #ffca28;
    width: 98vh;
    height: 98vh;
}
body #home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 50px;
}
a{
    color: #ffca28;
}
